.Essay{
    padding: 0.5em;
}
.Essay .question{

}
.Essay .answer{

}
.Essay .operator{
    min-height: 3em;
    padding: 0.5em 1em;
    cursor: pointer;
}
.Essay .showAnswer{
    padding: 0.5em;
    cursor:pointer;
}
.Essay .showAnswer:hover{
    color:red;
}
.Essay .on{
    color:red;
}

.Essay .editor{
    display: none;
    position: relative;
    top:1em;
    width: 90%;
    min-height: 10em;
    max-height: 30em;
    resize:vertical;
}