.mainContent{
}

.editor{
    position: fixed;
    bottom: 2em;
    width: 100%;
}
.editor.bottom{
    position: relative;
}
.editor .content{
    width: 99%;
    min-height: 10em;
    max-height: 30em;
    resize:vertical;
}